<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weekday</title>
</head>

<body>

  <%  if(kindOfDay === 'Sunday' || kindOfDay === 'Saturday'){ %>
     <h1 style = "color: purple" >Hello, today is <%= kindOfDay %>! </h1>
  <% }else{ %>
     <h1 style = "color: blue ">Hello, today is <%= kindOfDay %>! </h1>
     <p>So you have to keep working!</p>
  <% }%>

</body>

</html
