<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weekday</title>
</head>

<body>
  <h1>Hello! today is <span id="dayweek"></span> </h1>

  <p>lets work together!</p>



</body>

</html
